@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<Heading, HeadingSettings>>

@{
    // Settings data
    var settings = Model.Settings;
    var style = settings.BackgroundColour;

    // Content data
    var title = !string.IsNullOrEmpty(Model.Content.Title) ? Model.Content.Title : "";
    var subtitle = !string.IsNullOrEmpty(Model.Content.Subtitle) ? Model.Content.Subtitle : "";
    var links = Model.Content.Links;
    var backroundPhoto = Model.Content.BackgroundImage;
    var photo = Model.Content.Photo;
}

<style>
    .overlay {
        background-color: rgba(0, 0, 0, 0.4);
    }
</style>

<section class="text-light" style="background-image: url(@(backroundPhoto != null ? backroundPhoto.GetCropUrl("Banner") : "")); background-position:center; background-size:cover;">
    <div class=" overlay">
        <div class="container py-5">
            <div class="d-sm-flex align-items-center justify-content-between pt-lg-5 pb-lg-5">
                <div class="p-5">
                    @*<h1>Become a <span class="text-warning"> Web Developer</span></h1>*@
                    <h1 class="display-4 fw-normal">@title</h1>
                    <p class="lead fw-normal">
                        @subtitle
                    </p>
                    @if (links != null)
                    {
                        var counter = 0;
                        foreach (var link in links)
                        {
                            <button class="btn btn-@(counter == 0 ? "primary" : "secondary") my-2" data-bs-toggle="modal" data-bs-target="@link.Url">@link.Name</button>
                            counter++;
                        }
                    }
                </div>
                @if (photo != null)
                {
                    <img class="img-fluid w-50 d-none d-sm-block" src="@photo.Url()" alt="" />
                }
            </div>
        </div>
    </div>

</section>

