@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<RelatedContent, RelatedContentSettings>>
@{
    // Settings data
    var settings = Model.Settings;
    var style = settings.BackgroundColour;

    // Content data
    var relatedContent = Model.Content;

}

@if (relatedContent != null)
{
    foreach (var item in relatedContent.Related)
    {
        var related = (NewsItem)item;
        var title = related.Title;
        var slogan = related.Slogan;
        var image = related.Banner;
        var link = related.Url();
        <div class="p-4 mb-3 bg-light rounded ">
            <div style="float:left" class="mr-3 mb-1">
                <a href="@link">
                    @if (image != null)
                    {
                        <img src="@image.GetCropUrl("Small")" alt="" />
                    }
                </a>
            </div>
            <div>
                <h4 class="fst-italic"><a href="@link">@title</a></h4>
                <p class="mb-0">@slogan</p>
            </div>
        </div>
    }
}
