@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<RelatedContent, RelatedContentSettings>>
@{
    // Settings data
    var settings = Model.Settings;
    var style = settings.BackgroundColour;

    // Content data
    var relatedContent = Model.Content;

}

@if (relatedContent != null)
{
    <section>
        <div class="container">
            <div class="row">
                @foreach (var item in relatedContent.Related)
                {
                    var related = (GeneralContent)item;
                    var name = related.Name;
                    var abstractText = related.Abstract;
                    var image = related.Thumbnail;
                    var link = related.Url();
                    <div class="col-md-4 p-4 mb-3 bg-light rounded ">
                        <div style="float:left" class="mr-3 mb-1">
                            <a href="@link">
                                @if (image != null)
                                {
                                    <img src="@image.GetCropUrl("Small")" alt="" />
                                }
                            </a>
                        </div>
                        <div>
                            <h4 class="fst-italic"><a href="@link">@name</a></h4>
                            <p class="mb-0">@abstractText</p>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </section>
    
}
